
    <div class="card">
                <div class="card-content">
                    <div class="row">
                        {# <form> #}
                        {{ form_start(form) }}
                            <div class="input-field col s12 l6">
                                {{form_row(form.name)}}
                                {# <input id="name" type="text" class="validate"> #}
                                <label for="author">Votre Nom</label>
                            </div>
                            <div class="input-field col s12 l6">
                                {# {{form_row(form.email)}} #}
                                {# <input id="email" type="email" class="validate"> #}
                                <label for="email">Votre Email</label>
                            </div>
                            <div class="input-field col s12 l8">
                                {{form_row(form.title)}}
                                {# <input id="title" type="text" class="validate"> #}
                                <label for="title">Titre de votre campagne</label>
                            </div>
                            <div class="input-field col s12">
                            {{form_row(form.content)}}
                                {# <textarea id="description" class="materialize-textarea" placeholder="Décrivez à vos amis pourquoi vous faites une campagne"></textarea> #}
                            </div>
                            <div class="input-field col s12 l6">
                            {{form_row(form.goal)}}
                                {# <input id="goal" type="number" class="validate"> #}
                                <label for="">Votre objectif en euros</label>
                            </div>
                            {{form_row(form.submit)}}
                            {# <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" style="margin-top: 20px;" type="submit" name="action">
                                Validez la campagne#}
                                <i class="material-icons right">send</i>
                            {# </button>  #}
                            {{ form_end(form) }}
                         {# </form> #}
                    </div>
                </div>
            </div>
    
    
    